body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.wrapper {
    display: flex;
    width: 100%;
}

/* Pasek boczny */
.sidebar {
    width: 200px;
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
}

.sidebar button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.sidebar button:hover {
    background-color: #777;
}

/* Stylizacja logo */
.sidebar .logo {
    width: 200px;
    margin-bottom: 20px;
}

/* Dropdown menu */
.dropdown {
    width: 100%;
    text-align: center;
    position: relative;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

/* Główna zawartość */

.main-content {
    margin-left: 240px;
    flex-grow: 1;
    padding: 20px;
}

.main-content h1, .main-content h2 {
    text-align: center;
}

/* Stylizacja formularza wyszukiwania */
#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#search-form .form-group-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 10px;
}

#search-form .form-group {
    flex: 1;
    margin: 5px;
    min-width: 150px;
}

#search-form input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}
#search-form label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

#search-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#search-form .search-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
}

#search-form .search-button:hover {
    background-color: #0056b3;
}

/* Stylizacja tabeli wyników */

#pierwsze-pozycje, #wyniki-wyszukiwania {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#lista-pierwszych-pozycji, #lista-wynikow {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

#lista-pierwszych-pozycji th, #lista-pierwszych-pozycji td, #lista-wynikow th, #lista-wynikow td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#lista-pierwszych-pozycji th, #lista-wynikow th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Ukrywanie i pokazywanie zawartości */
.content {
    display: none;
}

.content.active {
    display: block;
}

/* Stylizacja formularza */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.inline-group {
    display: flex;
    gap: 20px;
}

.inline-group .form-group {
    flex: 1;
}

/* Stylizacja radio buttons */

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}

label[for="osoba_prywatna"], label[for="firma"] {
    font-size: 18px;
    margin-right: 20px;
}

#show-more-button, #generate-report-button {
    display: inline-block;
    margin: 20px 10px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#show-more-button:hover, #generate-report-button:hover {
    background-color: #777; /* Zmiana koloru przycisku po najechaniu */
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

/* Stylizacja formularza płatności */

#payment-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#payment-form .form-group label {
    font-size: 18px;
    margin-bottom: 5px;
}

#payment-form .form-group input.small-input {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

#payment-form .form-group input.centered-input {
    margin: 0 auto;
}

#payment-form .form-group button.large-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#payment-form .form-group button.large-button:hover {
    background-color: #777;
}

#paymentResponse table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
}

#paymentResponse th, #paymentResponse td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#panelPolisy {
    display: none;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto; 
    position: relative; 
    z-index: 1;
}

#panelPolisy.active {
    display: block;
}

#panelPolisyTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    visibility: visible;
    opacity: 1;
}

#panelPolisy {
    display: none;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#panelPolisy.active {
    display: block;
}


#formContainer table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    text-align: left;
}

#formContainer th, #formContainer td {
    border: 1px solid #ddd;
    padding: 8px;
}

#formContainer th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

#tableContainer table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    text-align: left;
}

#tableContainer th, #tableContainer td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableContainer th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

#formContainer {
    margin-bottom: 20px;
}

#ratContainer {
    margin-bottom: 20px;
}

#tableContainer {
    margin-top: 20px;
}

/* Wyśrodkowanie formularza */
.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

/* Styl dla przycisku Szukaj */
.search-button {
    background-color: grey; /* Niebieski kolor */
    color: white;
    border: none;
    padding: 15px 30px; /* Większy rozmiar */
    font-size: 18px; /* Większy tekst */
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3; /* Ciemniejszy niebieski przy najechaniu */
}

/* Wyśrodkowanie pola tekstowego */
.centered-input {
    width: 70%; /* Zwiększ szerokość pola tekstowego */
    margin: 10px auto; /* Wyśrodkowanie */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form-group {
    display: flex;
    justify-content: center; /* Wyśrodkowanie poziome */
    align-items: center; /* Wyśrodkowanie pionowe */
}

#policy-details-container table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}

#policy-details-container th, #policy-details-container td {
    border: 1px solid #ddd;
    padding: 10px;
}

#policy-details-container th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#reportKNFContent h1 {
    text-align: center;
    margin-bottom: 20px;
}

#reportKNF-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* Animacja zanikania */
.fade-out {
    animation: fadeOut 0.1s forwards;
    visibility: hidden;
}

/* Animacja pojawiania się */
.fade-in {
    animation: fadeIn 0.1s forwards;
    visibility: visible;
}

/* Definicje kluczowych klatek animacji */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Ekran startowy */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Możesz zmienić na dowolny kolor */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease, visibility 1s ease;
}

.splash-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

.splash-logo {
    width: 200px; /* Dostosuj rozmiar logo */
    animation: fadeInLogo 2s ease;
}

@keyframes fadeInLogo {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#submit-document-button {
    position: relative; /* Usuń `fixed`, aby przycisk był w normalnym przepływie dokumentu */
    margin: 20px auto; /* Wyśrodkowanie */
    display: block; /* Wyświetl jako blok */
    background-color: grey; /* Kolor tła */
    color: white; /* Kolor tekstu */
    border: none;
    padding: 15px 30px; /* Rozmiar przycisku */
    font-size: 18px; /* Rozmiar tekstu */
    border-radius: 5px; /* Zaokrąglenie rogów */
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease; /* Płynne przejście koloru */
}

#submit-document-button:hover {
    background-color: #0056b3; /* Kolor po najechaniu */
}