body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
}

.sidebar button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.sidebar button:hover {
    background-color: #777;
}

.sidebar .logo {
    width: 200px;
    margin-bottom: 20px;
}

.dropdown {
    width: 100%;
    text-align: center;
    position: relative;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.main-content {
    margin-left: 240px;
    flex-grow: 1;
    padding: 20px;
}

.main-content h1, .main-content h2 {
    text-align: center;
}

#search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#search-form .form-group-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 10px;
}

#search-form .form-group {
    flex: 1;
    margin: 5px;
    min-width: 150px;
}

#search-form input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}
#search-form label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

#search-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

#search-form .search-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
}

#search-form .search-button:hover {
    background-color: #0056b3;
}

#pierwsze-pozycje, #wyniki-wyszukiwania {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#lista-pierwszych-pozycji, #lista-wynikow {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

#lista-pierwszych-pozycji th, #lista-pierwszych-pozycji td, #lista-wynikow th, #lista-wynikow td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#lista-pierwszych-pozycji th, #lista-wynikow th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.inline-group {
    display: flex;
    gap: 20px;
}

.inline-group .form-group {
    flex: 1;
}

input[type="radio"] {
    transform: scale(1.5);
    margin-right: 10px;
}

label[for="osoba_prywatna"], label[for="firma"] {
    font-size: 18px;
    margin-right: 20px;
}

#show-more-button, #generate-report-button {
    display: inline-block;
    margin: 20px 10px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#show-more-button:hover, #generate-report-button:hover {
    background-color: #777;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

#payment-form .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#payment-form .form-group label {
    font-size: 18px;
    margin-bottom: 5px;
}

#payment-form .form-group input.small-input {
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    text-align: center;
}

#payment-form .form-group input.centered-input {
    margin: 0 auto;
}

#payment-form .form-group button.large-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#payment-form .form-group button.large-button:hover {
    background-color: #777;
}

#paymentResponse table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    width: 80%;
}

#paymentResponse th, #paymentResponse td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#panelPolisy {
    display: none;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto; 
    position: relative; 
    z-index: 1;
}

#panelPolisy.active {
    display: block;
}

#panelPolisyTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    visibility: visible;
    opacity: 1;
}

#panelPolisy {
    display: none;
    text-align: center;
    padding: 20px;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

#panelPolisy.active {
    display: block;
}


#formContainer table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    text-align: left;
}

#formContainer th, #formContainer td {
    border: 1px solid #ddd;
    padding: 8px;
}

#formContainer th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

#tableContainer table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    text-align: left;
}

#tableContainer th, #tableContainer td {
    border: 1px solid #ddd;
    padding: 8px;
}

#tableContainer th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
}

#formContainer {
    margin-bottom: 20px;
}

#ratContainer {
    margin-bottom: 20px;
}

#tableContainer {
    margin-top: 20px;
}

.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.search-button {
    background-color: grey; 
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px; 
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3; 
}

.centered-input {
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

#policy-details-container table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
}

#policy-details-container th, #policy-details-container td {
    border: 1px solid #ddd;
    padding: 10px;
}

#policy-details-container th {
    background-color: #f2f2f2;
    font-weight: bold;
}

#reportKNFContent h1 {
    text-align: center;
    margin-bottom: 20px;
}

#reportKNF-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.fade-out {
    animation: fadeOut 0.1s forwards;
    visibility: hidden;
}

.fade-in {
    animation: fadeIn 0.1s forwards;
    visibility: visible;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease, visibility 1s ease;
}

.splash-screen.hidden {
    opacity: 0;
    visibility: hidden;
}

.splash-logo {
    width: 200px;
    animation: fadeInLogo 2s ease;
}

@keyframes fadeInLogo {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

#submit-document-button {
    position: relative; 
    margin: 20px auto;
    display: block; 
    background-color: grey;
    color: white; 
    border: none;
    padding: 15px 30px; 
    font-size: 18px; 
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

#submit-document-button:hover {
    background-color: #0056b3; 
}

#edit-policy-results table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#edit-policy-results th, #edit-policy-results td {
    border: 1px solid #ddd;
    padding: 10px;
}

#edit-policy-results th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
}

#edit-policy-results tr:nth-child(even) {
    background-color: #f9f9f9;
}

#edit-policy-results tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

#edit-policy-results td {
    color: #555;
}

#edit-policy-results {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

/* Stylizacja kontenera wyników notatek */
#notatki-results {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Stylizacja tabeli notatek */
#notatki-results table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#notatki-results th, #notatki-results td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

#notatki-results th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #333;
}

#notatki-results tr:nth-child(even) {
    background-color: #f9f9f9;
}

#notatki-results tr:hover {
    background-color: #f1f1f1;
}

/* Stylizacja pola dodawania nowej notatki */
#notatki-results .form-group {
    margin-top: 20px;
}

#notatki-results textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
}

/* Wyśrodkowanie przycisku "Zapisz Notatkę" */
#notatki-results button {
    margin: 10px auto; /* Wyśrodkowanie przycisku */
    display: block; /* Ustawienie przycisku jako blokowego elementu */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#notatki-results button:hover {
    background-color: #0056b3;
}