<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Manager</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- Pasek boczny -->
        <div class="sidebar">
            <img src="/static/images/logo.png" alt="Logo firmy" class="logo">
            <button id="mainScreenButton">Ekran Główny</button>
            <div class="dropdown">
                <button id="toolsButton">Produkcja</button>
                <div class="dropdown-content">
                    <button id="addDocumentButton">Nowa Polisa</button>
                    <button id="addPaymentButton">Płatności</button>
                </div>
            </div>
        </div>

        <!-- Główna zawartość -->
        <div class="main-content">
            <div id="homeContent" class="content active">
                <h1>Archiwum</h1>
                
                <!-- Formularz wyszukiwania -->
                <form id="search-form">
                    <div class="form-group-inline">
                        <!-- Pierwszy rząd -->
                        <div class="form-group">
                            <label for="search-ubezpieczajacy">Ubezpieczający:</label>
                            <input type="text" id="search-ubezpieczajacy" name="search-ubezpieczajacy">
                        </div>
                        <div class="form-group">
                            <label for="search-ubezpieczony">Ubezpieczony:</label>
                            <input type="text" id="search-ubezpieczony" name="search-ubezpieczony">
                        </div>
                        <div class="form-group">
                            <label for="search-przedmiot">Przedmiot:</label>
                            <input type="text" id="search-przedmiot" name="search-przedmiot">
                        </div>
                        <div class="form-group">
                            <label for="search-data-zawarcia-od">Data Zawarcia (od):</label>
                            <input type="date" id="search-data-zawarcia-od" name="search-data-zawarcia-od">
                        </div>
                        <div class="form-group">
                            <label for="search-ochrona-od">Roz. Ochrony (od):</label>
                            <input type="date" id="search-ochrona-od" name="search-ochrona-od">
                        </div>
                        <div class="form-group">
                            <label for="search-zakonczenie-od">Zak. Ochrony (od):</label>
                            <input type="date" id="search-zakonczenie-od" name="search-zakonczenie-od">
                        </div>
                    </div>
                    <div class="form-group-inline">
                        <!-- Drugi rząd -->
                        <div class="form-group">
                            <label for="search-numer-polisy">Numer Polisy:</label>
                            <input type="text" id="search-numer-polisy" name="search-numer-polisy">
                        </div>
                        <div class="form-group">
                            <label for="search-nip">NIP:</label>
                            <input type="text" id="search-nip" name="search-nip">
                        </div>
                        <div class="form-group">
                            <label for="search-regon">REGON:</label>
                            <input type="text" id="search-regon" name="search-regon">
                        </div>
                        <div class="form-group">
                            <label for="search-data-zawarcia-do">Data Zawarcia (do):</label>
                            <input type="date" id="search-data-zawarcia-do" name="search-data-zawarcia-do">
                        </div>
                        <div class="form-group">
                            <label for="search-ochrona-do">Roz. Ochrony (do):</label>
                            <input type="date" id="search-ochrona-do" name="search-ochrona-do">
                        </div>
                        <div class="form-group">
                            <label for="search-zakonczenie-do">Zak. Ochrony (do):</label>
                            <input type="date" id="search-zakonczenie-do" name="search-zakonczenie-do">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="search-button">Szukaj</button>
                    </div>
                </form>

                <!-- Tabela wyników wyszukiwania -->
                <div id="wyniki-wyszukiwania" style="display: none;">
                    <table id="lista-wynikow">
                        <thead>
                            <tr>
                                <th>Numer Polisy</th>
                                <th>Ubezpieczający</th>
                                <th>Przedmiot Ubezpieczenia</th>
                                <th>Data Zawarcia</th>
                                <th>Data Zakończenia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Wiersze tabeli będą dodawane dynamicznie przez JavaScript -->
                        </tbody>
                    </table>
                    <div class="button-container">
                        <button id="show-more-button" style="display: none;">Pokaż więcej</button>
                        <button id="generate-report-button" style="display: none;">Wygeneruj zestawienie</button>
                    </div>
                </div>

                <div id="pierwsze-pozycje">
                    <table id="lista-pierwszych-pozycji">
                        <thead>
                            <tr>
                                <th>Numer Polisy</th>
                                <th>Ubezpieczający</th>
                                <th>Przedmiot Ubezpieczenia</th>
                                <th>Data Zawarcia</th>
                                <th>Data Zakończenia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Wiersze tabeli będą dodawane dynamicznie przez JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="addDocumentContent" class="content">
                <h1>Nowa Polisa</h1>
                <form id="document-form">
                    <div class="form-group">
                        <label for="rodzaj">Rodzaj:</label>
                        <select id="rodzaj" name="rodzaj" required>
                            <option value="Komunikacyjna">Komunikacyjna</option>
                            <option value="Majątkowa">Majątkowa</option>
                            <option value="Życiowa">Życiowa</option>
                            <option value="Należności">Należności</option>
                            <option value="Inne">Inne</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="typ">Typ:</label>
                        <select id="typ" name="typ" required>
                            <option value="Polisa">Polisa</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="opiekun">Opiekunowie:</label>
                        <select id="opiekun" name="opiekun" required>
                            <option value="alicjat">Alicja Tokarczyk</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Rodzaj ubezpieczającego:</label>
                        <input type="radio" id="osoba_prywatna" name="rodzaj_ubezpieczajacego" value="osoba_prywatna">
                        <label for="osoba_prywatna">Osoba prywatna</label>
                        <input type="radio" id="firma" name="rodzaj_ubezpieczajacego" value="firma">
                        <label for="firma">Firma</label>
                    </div>

                    <div class="inline-group" id="nip_regon_group" style="display: none;">
                        <div class="form-group">
                            <label for="nip">NIP:</label>
                            <input type="text" id="nip" name="nip">
                        </div>
                        <div class="form-group">
                            <label for="regon">REGON:</label>
                            <input type="text" id="regon" name="regon">
                        </div>
                    </div>

                    <div id="ubezpieczajacy_group" style="display: none;">
                        <div class="form-group">
                            <label for="ubezpieczajacy">Ubezpieczający:</label>
                            <input type="text" id="ubezpieczajacy" name="ubezpieczajacy" required>
                        </div>

                        <div class="form-group inline-group">
                            <div class="form-group">
                                <label for="numer_ubezpieczenia">Numer polisy:</label>
                                <input type="text" id="numer_ubezpieczenia" name="numer_ubezpieczenia" required>
                            </div>
                            <div class="form-group">
                                <label for="towarzystwo">Nazwa Towarzystwa Ubezpieczeniowego:</label>
                                <input type="text" id="towarzystwo" name="towarzystwo" required>
                            </div>
                        </div>

                        <div class="form-group inline-group">
                            <div class="form-group">
                                <label for="przedmiot_ubezpieczenia">Przedmiot ubezpieczenia:</label>
                                <input type="text" id="przedmiot_ubezpieczenia" name="przedmiot_ubezpieczenia" required>
                            </div>
                            <div class="form-group">
                                <label for="skladka">Kwota składki:</label>
                                <input type="text" id="skladka" name="skladka" required>
                            </div>
                        </div>

                        <div id="ubezpieczony_group" style="display: none;">
                            <div class="form-group">
                                <label for="ubezpieczony">Ubezpieczony:</label>
                                <input type="text" id="ubezpieczony" name="ubezpieczony" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="data_zawarcia">Data zawarcia:</label>
                            <input type="date" id="data_zawarcia" name="data_zawarcia" required>
                        </div>

                        <div class="form-group">
                            <label for="ochrona_od">Data rozpoczęcia:</label>
                            <input type="date" id="ochrona_od" name="ochrona_od" required>
                        </div>

                        <div class="form-group">
                            <label for="ochrona_do">Data zakończenia:</label>
                            <input type="date" id="ochrona_do" name="ochrona_do" required>
                        </div>
                    </div>

                    <button type="submit">Dodaj dokument</button>
                </form>
                <div id="response"></div>
            </div>

            <div id="addPaymentContent" class="content">
                <h1>Nowa Płatność</h1>
                <form id="payment-form">
                    <div class="form-group">
                        <label for="search-numer-polisy-payment">Numer Polisy:</label>
                        <input type="text" id="search-numer-polisy-payment" name="search-numer-polisy-payment" class="small-input centered-input">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="search-button large-button">Szukaj</button>
                    </div>
                </form>
                <div id="paymentResponse"></div>
            </div>

            <div id="panelPolisy" class="content" style="display: none;">
                <h1 id="panelPolisyTitle"></h1>
                <div id="formContainer"></div>
                <div id="ratContainer">
                    <label for="liczbaRat">Podaj liczbę rat:</label>
                    <input type="number" id="liczbaRat" min="1" />
                    <button onclick="generujTabeleRat()">OK</button>
                </div>
                <div id="tableContainer"></div>
                <button id="savePaymentsButton" style="display: none;" onclick="zapiszPlatnosci()">Zapisz płatności</button>
            </div>

        </div>
    </div>

    <script src="/static/js/script.js?v=1.0"></script>
</body>
</html>