<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Manager</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="wrapper">
        <!-- Ekran wstępu -->

        <!-- Pasek boczny -->
        <div class="sidebar">
            <img src="/static/images/logo.png" alt="Logo firmy" class="logo">
            <button id="homeButton">Ekran główny</button>
            <div class="dropdown">
                <button id="toolsButton">Produkcja</button>
                <div class="dropdown-content">
                    <button id="addDocumentButton">Nowa Polisa</button>
                    <button id="addPaymentButton">Płatności</button>
                </div>
            </div>
        </div>

        <!-- Główna zawartość -->
        <div class="main-content">
            <div id="homeContent" class="content active">
                <h1>Witaj w aplikacji archiwizacji!</h1>
                <p>Wybierz opcję po lewej stronie, aby zacząć.</p>
            </div>

            <div id="addDocumentContent" class="content">
                <h1>Nowa Polisa</h1>
                <form id="document-form">
                    <div class="form-group">
                        <label for="rodzaj">Rodzaj:</label>
                        <select id="rodzaj" name="rodzaj" required>
                            <option value="Komunikacyjna">Komunikacyjna</option>
                            <option value="Majątkowa">Majątkowa</option>
                            <option value="Życiowa">Życiowa</option>
                            <option value="Należności">Należności</option>
                            <option value="Inne">Inne</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="typ">Typ:</label>
                        <select id="typ" name="typ" required>
                            <option value="Polisa">Polisa</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="opiekun">Opiekunowie:</label>
                        <select id="opiekun" name="opiekun" required>
                            <option value="alicjat">Alicja Tokarczyk</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="ubezpieczajacy">Ubezpieczający:</label>
                        <input type="text" id="ubezpieczajacy" name="ubezpieczajacy" required>
                    </div>

                    <div class="form-group inline-group">
                        <div class="form-group">
                            <label for="numer_ubezpieczenia">Numer polisy:</label>
                            <input type="text" id="numer_ubezpieczenia" name="numer_ubezpieczenia" required>
                        </div>
                        <div class="form-group">
                            <label for="towarzystwo">Nazwa Towarzystwa Ubezpieczeniowego:</label>
                            <input type="text" id="towarzystwo" name="towarzystwo" required>
                        </div>
                    </div>

                    <div class="form-group inline-group">
                        <div class="form-group">
                            <label for="przedmiot_ubezpieczenia">Przedmiot ubezpieczenia:</label>
                            <input type="text" id="przedmiot_ubezpieczenia" name="przedmiot_ubezpieczenia" required>
                        </div>
                        <div class="form-group">
                            <label for="skladka">Kwota składki:</label>
                            <input type="text" id="skladka" name="skladka" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="data_zawarcia">Data zawarcia:</label>
                        <input type="date" id="data_zawarcia" name="data_zawarcia" required>
                    </div>

                    <div class="form-group">
                        <label for="ochrona_od">Data rozpoczęcia:</label>
                        <input type="date" id="ochrona_od" name="ochrona_od" required>
                    </div>

                    <div class="form-group">
                        <label for="ochrona_do">Data zakończenia:</label>
                        <input type="date" id="ochrona_do" name="ochrona_do" required>
                    </div>

                    <button type="submit">Dodaj dokument</button>
                </form>
                <div id="response"></div>
            </div>

            <div id="addPaymentContent" class="content">
                <h1>Nowa Płatność</h1>
                <form id="payment-form">
                    <!-- Dodaj odpowiednie pola formularza dla płatności -->
                </form>
                <div id="paymentResponse"></div>
            </div>
        </div>
    </div>

    <script src="/static/js/script.js?v=1.0"></script>
</body>
</html>